@import "tailwindcss";

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-zinc-950);
  color: var(--color-zinc-100);
}

::selection {
  background-color: var(--color-emerald-500);
  color: var(--color-zinc-950);
}
